<hr>
<div *ngFor="let quiz of _quiz | slice:(questionIndex-1):questionIndex">
  <h1>{{ quiz.question }}</h1>
  <div [class]="'option option-' + i" *ngFor="let option of quiz.options; let i = index" (click)="selected(elem)" #elem>{{ option }}</div>
  <hr>
  <div>Selected Options: {{ selectedOptions }}</div>
  <div>Answer: {{ quiz.answer }}</div>
  <hr>
</div>

{{ questionIndex }} / 5
<button (click)="nextQuestion()">
  <span *ngIf="questionIndex < 5">Next</span>
  <span routerLink="/results" *ngIf="questionIndex > 4">Finish</span>
</button>