<div *ngFor="let quiz of _quiz | slice:(questionIndex-1):questionIndex">
  <h1>{{ quiz.question }}</h1>
  <input type="checkbox" name="question">{{ quiz.options[0] }}<br/>
  <input type="checkbox" name="question">{{ quiz.options[1] }}<br/>
  <input type="checkbox" name="question">{{ quiz.options[2] }}<br/>
  <input type="checkbox" name="question">{{ quiz.options[3] }}<br/>
</div>
{{ questionIndex }} / 5
<button (click)="nextQuestion()">
  <span *ngIf="questionIndex < 5">Next</span>
  <span routerLink="/results" *ngIf="questionIndex > 4">Finish</span>
</button>
