.question-index {
    padding: 1rem 0;
}
.question {
    font-size: 1.25rem;
    border: 1px solid #666;
    border-radius: 6px;
    padding: 1rem;
    margin: 0 0 1rem 0;
    background: #fafafa;
}
.option {
    padding: 10px 20px;
    margin: 5px 0px;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 6px;
    background: #fff;
}
.option:hover {
    background: #eee;
}
.option.active {
    background: #34a9ce;
    color: #fff;
    font-weight: bold;
}
.navigation {
    margin-top: 1rem;
}
.navigation > button {
    padding: 0.5rem 2rem;
    border: 1px solid #a77c2a;
    border-radius: 6px;
    background: #ce4a34;
    color: #fff;
    cursor: pointer;
    outline: none;
}