<div *ngFor="let quiz of _quiz | slice:(questionIndex-1):questionIndex">
  <div class="question-index">Question {{ questionIndex }} / {{ _quiz.length }}</div>
  <p class="question">{{ quiz.question }}</p>
  <div [class]="'option option-' + i" *ngFor="let option of quiz.options; let i = index" (click)="selected(elem)" #elem>{{ option }}</div>
</div>

<div class="navigation" (click)="nextQuestion()">
  <button *ngIf="questionIndex < _quiz?.length">Next Question</button>
  <button *ngIf="questionIndex > (_quiz?.length - 1)">Finish Quiz</button>
</div>