<div class="container">
    <div class="logo"><h2>Logo</h2></div>
    <div class="inner-container">
        <h2 class="title">Do you think you are smart enough?</h2>
        <p class="decription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed porta ligula. Duis varius ligula a luctus efficitur.
            Cras varius augue non condimentum pellentesque. Donec a molestie sapien. Nunc mauris ex, efficitur sit amet rhoncus
            sed.
        </p>
        <button class="btn-start" routerLink="/quiz">START QUIZ</button>
    </div>
</div>