.score {
    font-size: 2rem;
    margin-bottom: 2rem
}
.score > div {
    font-size: 4rem;
    font-weight: bold;
}
button.btn-home {
    max-width: 50%;
    padding: 0.5rem 2rem;
    border: 1px solid #a77c2a;
    border-radius: 6px;
    background: #ce4a34;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}