.quiz {
    padding: 1rem 0;
    max-width: 1024px;
    margin: auto;
}
.counter {
    background: #2b6db3;
    color:#fff;
    padding: 0.25rem 0;
}
.qa {
    background: #fff;
    padding: 1rem;
}
.results {
    background: #fff;
    max-width: 1024px;
    margin: 2rem auto;
    padding: 2rem;
    text-align: center;
}
